fastapi==0.110.0
uvicorn==0.29.0
pandas==2.2.1
polars==0.20.18
pandera==0.18.3
pyarrow==15.0.2
confluent-kafka==2.3.0
boto3==1.34.70
python-dotenv==1.0.1
pyspark>=4.1.1
pycountry
pycountry-convert
rapidfuzz